
.st0{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill: #FFFFFF;
}
.st1{
    fill: #FFFFFF;
}

.body_login{
    margin: 0;
}
.login {
    height:100vh;
}
.login_left {
    width: 50%;
    background-color: color(gray-200);
}
.login_right {
    width: 50%;
    background-color: color(bs-dark );
}
.um_request_name {
    display: none;
}
.um-field-checkbox-option{
    color: color(gray-300);
}
.um-col-alt-b,
.um-login, 
.um-field{
    margin-top: 10px;
}
.um-login{
    display: flex;
    justify-content: center;
}