.st0{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill: #FFFFFF;
}
.st1{
    fill: #FFFFFF;
}

.body_login{
    margin: 0;
}
.login {
    height:100vh;
}
.login_left {
    width: 50%;
    background-color: color(gray-200);
}
.login_right {
    width: 50%;
    background-color: color(bs-dark);
}