.form-dim-width{
    width: 900px;
}

#code_postal_site,
#code_postal-entreprise-opco{
    width: 100px;
}

.input-group-text-session{
    width: 90px;
}

.chiffrage-total{
    width: auto;
}

.lieu-formation{
    background-color: color(bs-light);
}